body {
    margin: 0;
}

.navbar {
    display: flex;
    gap: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    list-style: none;
    align-items: center;
    border-bottom: 1px solid;
    justify-content: center;
    margin: 16px auto 0 auto;
    width: fit-content;
}

.navbar li {
    cursor: pointer;
}

.navbar a {
    display: block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

.navbar a:hover {
    background-color: black;
    color: white;
}