.title,
.author_name {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 14px;
    display: inline-block;
}

.author-list {
    max-width: 900px;
    margin: 25px auto;
    list-style-type: none;
}

.author_item {
    background-color: white;
    border: 1px solid black;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 25px;
}

.header {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 30px;
}

.title:hover {
    background-color: blue;
    color: white;
}

.author_name:hover{
    background-color: purple;
    color:white;
}
