{% extends "core/base.html" %}

{% block content %}
    <h1>Authors</h1>

    <p>
        <a href="{% url 'author_create' %}">Create new author</a>
    </p>
    
    <ul>

        
        {% for author in authors %}
            
            <li>

                <!--Makes dynamic links, so everytime we click an author, we go to a specific details page-->
                <a href="{% url 'author_detail' author.id %}">
                    {{ author.last_name }} {{ author.first_name }}
                </a>
            </li>
        
        {% empty %}
            <li>No authors found</li>
        {% endfor %}    
    </ul>
{% endblock %}