{% extends "core/base.html" %}

{% block content %}


    <h1>Books</h1>
    <p>
        <a href="{% url 'book_create' %}">Create new book</a>
    </p>

    <ul>
        {% for book in books %}
        <li>Title:<a href="{% url 'book_detail' book.id %}"> {{book.title}} </a>|| 
            Author: {{book.author}} || 
            Published: {{book.pub_date}} || 
            Price: {{book.price}} || 
            Category: {{book.category}} || 
        </li>
        {%empty%}
        <li>No books found</li>
        {%endfor%}
    </ul>
    
    
{% endblock %}